name: Main Workflow
on:
  push:
    branches:
      - master
    paths:
      - sample-java-app
      - sample-app-2 
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: divyatrm/pipeline/.github/workflows/build.yml@main
